/* import link */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Landing page style */

.landing-page{
    width: 100%;
    height: 700px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 74px;
}

.landing-page img{
    width: 241px;
    height: 241px;
    margin-bottom: 32px;
}

.landing-page h1{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 24px;
}

.landing-page p{
    font-size: 16px;
    color: #0D1321;
}

.landing-page .btn-primary{
    padding: 21px 24px;
    color: #FFFFFF;
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    width: 208px;
    height: 66px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}

/* banner - 1 style */

.banner-1{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(13, 19, 33, 0.02);
    height: 1395px;
}

.banner-1 h1{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    padding-top: 80px;
}

.banner-1 p{
    font-size: 16px;
    color: rgb(13, 19, 33);
    margin-top: 34px;
}

.banner-cards{
    margin: 0px auto;
    align-items: center;
    margin: 58px 0 0 0;
}

.card{
    /* border: 2px solid red; */
    text-align: left;
    height: 336px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-image: linear-gradient(to right,rgb(255, 255, 255, 1), rgba(255, 255, 255, 0) );
    margin: 0px auto;
    border-radius: 16px;
}



.card-alignment{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 90px;
}

.second-card{
    margin-right: 40px;
}


#card-description{
    margin-top: 16px;
    font-size: 16px;
    color: rgb(13, 19, 33);
}

.card-text h3{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
}

.btn-2{
    width: 150px;
    height: 48px;
    border: none;
    margin-top: 32px;
    border: 1px solid 
    rgba(13, 19, 33, 0.6);
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 0.8);
}

#color-1{
    background-image: linear-gradient(to right,rgb(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

#color-2{
    background-image: linear-gradient(to right,rgb(255, 255, 255, 1), rgba(255, 255, 255, 0) );
}

/* My inspiration section style */

.my-inspiration{
    text-align: center;
    height: 777px;
    margin-top: 90px;
    margin-bottom: 151px;
    
}

.video{
    width: 1140px;
    height: 614px;
    border-style:solid;
    border-width:1px;
    padding: 32px;
    border-color: rgba(13, 19, 33, 0.20);
    border-radius: 16px;
    margin: 0px auto;
    
}

.my-inspiration h1{
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 32px;
}
.my-inspiration p{
    font-size: 16px;
    color: rgba(13, 19, 33, 0.8);
    padding-bottom: 48px;
}

/* Target section style */

.target{
    width: 80%;
    text-align: center;
    margin: 0px auto;
    height: 463px;
    margin-bottom: 90px;
}

.target h1{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.target p{
    font-size: 16px;
    color: rgba(13, 19, 33, 0.8);
}

.target-cards{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 25px;
    
}

.target-card{
    width: 364px;
    height: 300px;
    text-align: left;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}

.target-card h4{
    font-size: 24px;
    font-weight: 800;
    margin-top: 35px;
}
.target-card p{
    font-size: 16px;
    color: rgba(13, 19, 33, 0.8);
    margin-top: 8px;
    margin-bottom: 24px;
}

.target-card a{
    color: #0D1321;
    font-size: 16px;
    font-weight: bold;
    margin-top: 24px;
}

.target-color-2{
    background-color: rgba(0, 76, 232, 0.05);    
}

.target-color-3{
    background-color: rgba(255, 223, 0, 0.05);
}

/* Support section style */

.support{
    width: 80%;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(to left,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)) ,url("../assets/handshake.jpg");
    background-position: center;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.support h1{
    font-size: 32px;
    font-weight: 32px;
    color: #FFFFFF; 
}

.support p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    margin-top: 16px;
    margin-bottom: 24px;
}

form input{
    width: 600px;
    height: 60px;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.4);
    padding: 19px 0 19px 20px;
    border-radius: 8px;
    border: none;
}

.support button{
    width: 120px;
    height: 58px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;

}

/*  Footer style */
.footer{
    background-color: rgba(13, 19, 33, 0.03);
}
.footer-context{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    align-items: center;
   
}

.footer h1{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
}

footer .footer-image{
    display: flex;
    gap: 24px;
}



